@{
    Layout = "~/Views/Shared/_LayoutNoNav.cshtml";
}

<div class="lndngImg">
    <div class="sText">
        <div class="lndngSect">
            <h1>Homeroom</h1>
            <p>A 3-ring binder for the 21st century</p>
            <hr class="my-4" />
            <div style="text-align:center;">
                @Html.ActionLink("Get Started", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-lg btn-outline-info" })
                @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-lg btn-outline-info" })
            </div>
        </div>
    </div>
</div>
